.peep {
  border: 2px solid #333;
  color: lightgray;
}

.peeps {
  max-width: 60%;
  margin: 0 auto;
}

.container {
  background-color: #121212;
}

.login-link {
  color: #8b8000;
}

textarea {
  background-color: lightgrey;
  width: 50%;
  height: 100px;
}

.chicken-image {
  max-width: 100px;
}

.login-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.addPeep {
  padding-top: 50px;
  padding-bottom: 25px;
  border: 1px solid #333;
  max-width: 60%;
  margin: 0 auto;
}

label {
  color: lightgray;
  padding: 10px;
}

.addpeep-button {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 50px;
  max-width: 50%;
  height: 50px;
  font-size: 18px;
  background-color: #8b8000;
  font-weight: 500;
  color: beige;
  margin-left: 47%;
  margin-top: 2px;
}

#message {
  font-size: x-large;
}
