nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left img {
  height: 30px;
  margin-right: 10px;
}

.navbar-left h1 {
  font-size: 24px;
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .nav-link {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #555;
}

.navbar-right :hover {
  background-color: #777;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1 {
  color: beige;
}
